
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/*Logo Style*/
#logo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#logo img {
    /* border: 2px solid; */
    width: 200px;
}
.logo-text{
    margin-top: -13px;
    text-align: center;
}
.logo-text h1 {
    color: rgba(149, 158, 188, 0.828);
}

/*Navbar Style*/
.navbar {
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid; */
    position: sticky;
    top: 0;
    padding: 20px 0;
    background-color: rgba(175, 177, 178, 0.839);
}
.navbar li {
    list-style: none;
}
.navbar a {
    font-weight: 800;
    text-decoration: none;
    color: black;
}

/*Home Style*/
.home-page {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.home-page input {
    width: 220px;
    margin-top: 20px;
    height: 50px;
    border-radius: 10px;
}
.home-page img {
    width: 150px;
}
.text {
    margin-top: 40px;
}
.text h1,p {
    text-align: center;
    margin: 10px 0;
}
.text p {
    font-size: large;
}


/*Image Section*/
h2 {
    margin-bottom: 10px;
    margin-left: 10px;
}
.selling-books {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 80px;
}
.books {
    height: 400px;
    background-color: white;
    border-radius: 5px;
    padding-bottom: 30px;
}
.books img {
    width: 350px;
    height: 400px;
    /* border: 2px solid black; */
    border-radius: 9px;
}
.books h6 {
    font-size: 23px;
    text-align: center;
    position: relative;
    /* top: -120px; */
    font-weight: bolder;
    font-size: large;
    padding: 10px;
    bottom: 120px;
    color: white;
}
.books button {
    background: black ;
    color: white;
    width: 10vw;
    height: 7vh;
    display: block;
    margin: 0 auto;
    position: relative;
    top: -120px;
}

.selling-books {
    display: flex;
    justify-content: space-evenly;
    padding-bottom: 80px;
}

.books {
    height: 350px;
    border-radius: 5px;
    padding-bottom: 30px;
}
.books img {
    width: 350px;
    height: 400px;
    border: 1px solid rgb(177, 173, 173);
    border-radius: 19px;
    
}
.books h6 {
    font-size: 23px;
    text-align: center;
    position: relative;
    /* top: -120px; */
    font-weight: bolder;
    font-size: large;
    padding: 10px;
    bottom: 120px;
    border-radius: 10px;
    background-color: rgba(114, 113, 116, 0.395);
    color: rgb(249, 245, 245);
}
.books button {
    background: rgb(133, 115, 115) ;
    color: white;
    width: 10vw;
    height: 5vh;
    display: block;
    font-size: medium;
    margin: 0 auto;
    position: relative;
    top: -120px;
    border: none;
    border-radius: 7px;
    cursor: pointer;
}
.books button:hover {
    color: black;
    background-color: white;
    transition: 1s ease-out;
    /* transform: rotate(30deg); */
    font-size: 25px;
}

/*Connection class Style*/
.connection {
    margin-top: 50px;
    background-color: #e5edf3;
    width: 80%;
    margin: 0 auto;
    border-radius: 12px;
}
.connection h3 {
    text-align: center;
    padding-top: 20px;
    background-color: #e5edf3;
}
.connect {
    display: flex;
    justify-content: center;
    margin-top: 15px;
}
.connect img {
    width: 40px;
}
footer {
    margin-top: 60px;
    display: flex;
    justify-content: space-evenly;
}
footer p {
    font-size: medium;
}
footer :first-child {
    font-size: large;
}
footer div a {
    color: black;
    display: block;
    font-size: medium;
    text-decoration: none;
}
footer img {
    width: 20%;
    border-radius: 10px;
}
.copyright {
    margin-top: 70px;
}
.copyright p {
    color: #8c9393d7;
    font-size: medium;
}

@media (max-width: 400px) {
    #logo {
        margin: -15px;
    }
    #logo img {
        margin: 15px;
        width: 100px;
    }
    .navbar {
        position: sticky;
        padding: 20px 0;
        top: 0;
        display: flex;
        justify-content: space-evenly;

    }
    .home-page {
        display: flex;
        justify-content: space-around;
        margin-top: 20px;
    }
    .home-page h1 {
        font-size: 20px;
    }
    .home-page input {
        width: 120px;
        margin-top: 20px;
        height: 25px;
        border-radius: 10px;
    }
    .home-page img {
        width: 80px;
    }
    #best-sellers {
        margin: 30px 0; 
        text-align: center;
    }
    .selling-books {
        flex-wrap: wrap;
        margin-bottom: 35px;

    }
    .books {
        margin-left: auto;
        margin-right: auto;
        width: 240px;
        height: 350px;
        background-color: white;
        border-radius: 5px;
        padding-bottom: 30px;
    }
    .books img {
        margin-left: auto;
        margin-right: auto;
        width: 240px;
        height: 300px;
        border: 1px solid rgb(181, 176, 176);
        border-radius: 9px;
    }
    .books button {
        width: 4vw;
        position: relative;
        top: -130px;
    }
    .connection {
    width: 60%;
    margin: -30px auto;
    border-radius: 12px;
    }
    .connection h3 {
        text-align: center;
        padding-top: 20px;
        font-size: medium;
        background-color: #e5edf3;
    }
    .connect img {
        width: 40px;
    }
    footer {
        margin-top: 60px;
        margin-left: auto;
        margin-right: auto;
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
    }
    footer p {
        font-size: medium;
    }
    footer :first-child {
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        font-size: x-large;
    }
    footer div a {
        text-align: center;
        color: black;
        display: block;
        font-size: medium;
        text-decoration: none;
    }
    footer img {
        visibility: hidden;
    }
    .copyright p{
        margin-top: 0 auto;
        font-size: medium;

    }
}
@media (max-width: 600px) {
    footer img {
        visibility: hidden;
    }
}


@media (max-width:1092px) {
    h2 {
        margin-bottom: 20px;
        margin-left: 30px;
    }
    .selling-books {       
        flex-wrap: wrap;
        /* flex-direction: column; */
    }
    .books {
        
        height: 400px;
        /* background-color: red; */
        border-radius: 5px;
        padding-bottom: 15px;
    }
    .books img {
        width: 350px;
        height: 320px;
        /* border: 2px solid red; */
        border-radius: 9px;
    }
    .books button {
        background: black ;
        color: white;
        width: 10vw;
        height: 5vh;
        border: none;
        border-radius: 7px;
        display: block;
        margin: 0 auto;
        position: relative;
        top: -120px;
        cursor: pointer;
    }
    .books button:hover {
        color: black;
        border-radius: 7px;
        background-color: white;
        transition: 0.6s ease-in;
        transform: rotate(-10deg );
        font-size: 15px;
        border: none;
    }   
}
