* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
/*Logo Style*/
#logo {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#logo img {
    /* border: 2px solid; */
    width: 200px;
}
.logo-text{
    margin-top: -13px;
    text-align: center;
}
.logo-text h1 {
    color: rgba(149, 158, 188, 0.828);
}

/*Navbar Style*/
.navbar {
    display: flex;
    justify-content: space-evenly;
    /* border: 2px solid; */
    position: sticky;
    top: 0;
    padding: 20px 0;
    background-color: rgba(175, 177, 178, 0.839);
}
.navbar li {
    list-style: none;
}
.navbar a {
    text-decoration: none;
    color: black;
}

/*Home Style*/
.home-page {
    display: flex;
    justify-content: space-around;
    margin-top: 40px;
}
.home-page input {
    width: 220px;
    margin-top: 20px;
    height: 50px;
    border-radius: 10px;
}
.home-page img {
    width: 150px;
}
.text {
    margin-top: 40px;
}
.text h1,p {
    text-align: center;
    margin: 10px 0;
}